<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalProjectCre8tfolio</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PersonalProjectCre8tfolio.styles.css" asp-append-version="true" />

</head>

<body>
    <div class="main-container">
        <div class="sidebar">
                
            <a class="sidebar-brand" asp-area="" asp-controller="Home" asp-action="Login">CRE8TFOLIO</a>
            <ul class="sidebar-nav">
                <li class="nav-item">
                <a class="btn btn-link"  href="@Url.Action("Login", "Home")">Account</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="@Url.Action("Index", "PortfolioPost")">Portfolio Post's</a>
                </li>
            </ul>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


     