<link rel="stylesheet" href="~/css/BlogPost/BlogIndex.css" />

@{
    ViewData["Title"] = "Home Page";
}
<h1>CRE8TFOLIO</h1>

<a asp-action="login" class="btn btn-primary btn-lg">login</a>

@* <a asp-action="Login">Login</a> *@
<br />
