@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/PortfolioPost/PortfolioIndex.css" />


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/PortfolioPostCSS/Home.css" />

</head>
<body>
    <div class="container text-center">
        
    <img src="~/images/your-image.jpg" alt="Your Image" class="img-fluid">
    </div>
</body>
</html>