@model PersonalProjectCre8tfolio.Models.BlogPost

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/BlogPost/BlogIndex.css" />

<div class="delete-container">
    <div class="inner-container">
        <h1>Delete</h1>
        <h3>Are you sure you want to delete the @Model.Title ?</h3>
        <hr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Title" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-primary btn-lg">Back to List</a>
        </form>
    </div>
</div>